body {
  background-color: #98FB98;
}
.rock-salt {
  font-family: 'Rock Salt', cursive;
  color: #FF1493;
  text-align: center;
  font-size: 3.5em;
  padding: 0.1em;
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#wraps {
  text-align: center;
}

.instructions {
  text-align: center;
  padding: 0.1em;
  margin: 0;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
  font-size: 1.1em;
}

.current-player {
  text-align: center;
  padding: 0.1em;
  margin: 0;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
  font-size: 1.1em;
}

.full-block {
  margin: 0 auto;
  font-family: 'Crafty Girls', cursive;
  font-size: 4em;
  color: yellow;
  padding: 0.3em;
}

.cell {
  width: 2em;
  height: 2em;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  transition: background 1s linear;
}
.cell:hover {
  background-color: #00FA9A;
  opacity: 0.8;
}
.a {
  border-left: 0.09em solid #800080;
  border-right: 0.09em solid #800080;
}
.b {
  border-top: 0.09em solid #9400D3;
  border-bottom: 0.09em solid #9400D3;
}
.instructions, .current-player {
  font-family: 'Black Ops One', cursive;
  color: #B213A0;
  margin: 0.8em;
}

.highlight {
  color: #00FFFF;
}

.reset {
	-moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
	background:-moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:-webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:-o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:-ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d',GradientType=0);
	background-color:#ff5bb0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Crafty Girls', cursive;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
  margin: 0 auto;
  position: relative;
}
.reset:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
	background:-moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:-ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
	background-color:#ef027d;
}
.reset:active {
	position:relative;
	top:1px;
}
audio {
  background-color: #00FFFF;
}
